## -*-shell-script-*-

# Listing Folder Contents
alias ls='ls --color=auto --group-directories-first -N'
alias l='ls'
alias ll='ls -lvh'
alias lsm='ls -lvh'
alias lsl='ls -lrth'
alias lsc='ls -1 -vX'
alias lsa='ls -Avh'
alias lsd='ls -d */'
alias lsn='ls -v'
alias lsx='ls -lvXh'

# Viewing and/or Editing Files
alias less='less -M'
alias nemacs='emacs -nw'
alias emacs='emacs -g 85x35'

# Pattern Searching
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Deleting, Moving, or Copying Files
alias rm='rm -i'
alias mv='mv -nv'
alias cp='cp -nv'
alias til='del -d *~'

# Misc Aliases
alias x='exit'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias workout='cd AndroidStudioProjects/WorkoutAssistant/app/src/main'
alias docs='cd ~/share/docs'
alias dls='cd ~/share/dls'

# Git
alias gstat='git status'
alias gadd='git add'
alias gcom='git commit'
alias gpush='git push -u origin master'

# Change directory
cd()
{
    builtin cd "$@"
    [ $? -eq 0 ] && lsm
}
