## -*-shell-script-*-

# Listing Folder Contents
alias ls='ls --color=auto --group-directories-first -N'
alias l='ls'
alias ll='ls -lvh'
alias lsm='ls -lrt'
alias lsc='ls -1 -vX'
alias lsa='ls -Avh'
alias lsd='ls -d */'
alias lsn='ls -v'
alias lsx='ls -lvXh'
alias lsq='ls --color=never'

# Viewing and/or Editing Files
alias less='less -M'
alias feh='feh -Z.'
alias thunar='GTK_THEME=Adwaita:dark thunar'

# Pattern Searching
alias grep='grep --color=auto -n'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Deleting, Moving, or Copying Files
alias rm='rm -iv'
alias mv='mv -nv'
alias cp='cp -nv'
alias til='trash -d *~'

# Misc Aliases
alias x='exit'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'

# Google translate
alias gtranslate='source ~/projects/android/goog/bin/activate; builtin cd ~/projects/google_translate_xml/'

# Git
alias gstat='git status'
alias gadd='git add'
alias gcom='git commit'
alias gpush='git push -u origin master'

# Pacman
alias pq='pacman -Qi'

# Rsync
alias rsyncy='rsync -avh --progress'

# Turn screen off
alias off='bright --off'

# Fix Lenovo touchpad (click buttons above touchpad stop working sometimes)
alias touchpadfix='sudo modprobe -r psmouse; sleep 2; sudo modprobe psmouse'

# Change directory
cd()
{
    builtin cd "$@"
    [ $? -eq 0 ] && ll
}

# Rename contents of a directory to match the directory name
renametodir()
{
	local dir=$(basename "${1}")
	local file=
	if [ -z "${dir}" ]
	then
		return 1
	fi

	builtin cd "${dir}"

	for file in *
	do
		mv "${file}" "${dir}.${file##*.}"
	done

	builtin cd ..
}
