URxvt.perl-ext-common: default,matcher,clipboard,tabbedex

URxvt*foreground: #000000
URxvt*background: #aaaaaa
URxvt.scrollstyle: plain
URxvt.visualBell: true
URxvt.font:           8x13
URxvt.letterSpace:    1
URxvt.matcher.button: 1
URxvt.url-launcher:   /usr/bin/firefox
URxvt.colorUL:        #4682B4

URxvt.tabbed.new-button:       false
URxvt.tabbed.autohide:         true
URXvt.tabbed.reopen-on-close:  yes
URxvt.tabbed.no-tabbedex-keys: true

URxvt.keysym.C-M-w:           perl:clipboard:copy
URxvt.keysym.C-M-y:           perl:clipboard:paste
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.keysym.Control-t:   perl:tabbedex:new_tab
URxvt.keysym.Shift-Down:  perl:tabbedex:new_tab
URxvt.keysym.Shift-Right: perl:tabbedex:next_tab
URxvt.keysym.Shift-Left:  perl:tabbedex:prev_tab

URxvt.clipboard.autocopy: false
URxvt.searchable-scrollback: CM-s
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
URxvt.saveLines: 10000

URxvt.iso14755:    false
URxvt.iso14755_52: false
